<form action="/note/app" method="post">

    <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title..." id="title">
    </div>
    <div>
        <label for="Description">Description</label>
        <textarea name="description" id="description" placeholder="Description..."></textarea>
    </div>

    <button>Add</button>

</form>