<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>
<body>
    
   <h1>Navegation</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est commodi animi nesciunt nobis soluta, laboriosam omnis vel voluptatem impedit itaque consequuntur mollitia id corporis voluptas sequi ipsum maiores numquam recusandae?
    Quam at nostrum nemo dolorum doloremque praesentium, earum sapiente quasi cum nam soluta! Quia quo voluptas assumenda! Necessitatibus aut laborum voluptate fugiat? Ipsam, tempora officia. Necessitatibus reiciendis sapiente porro aliquid.

    </p>


    <h1>Footer</h1>

</body>
</html>